header {
  height: 750px;
  background: url(/assets/Background_Intro.png) no-repeat center/cover;
}

.avatar {
  display: flex;
  justify-content: center;

  & img {
    padding-top: 120px;
  }
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > p:nth-child(1) {
    font: var(--subtitle);
    color: var(--gray-500);
    & span {
      color: var(--red);
    }
  }
  & > p:nth-child(3) {
    font: var(--title-lg);
    color: var(--gray-500);
  }
  & > p:nth-child(5) {
    margin-top: 20px;
    font: var(--text-sm);
    color: var(--gray-400);
    text-align: center;
  }
}
.techs {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 1rem;
  & tag {
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    border-radius: 30px;
    padding: 8px 1rem;
    gap: 8px;

    font: var(--text-md);
    color: var(--gray-500);
  }
}

.arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  cursor: pointer;
}
